.Generator {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

button {
    background: none;
    border: none;
    margin: 10;
    padding: 10;
    margin-top: 30px;
    font-family: Verdana;
    font-size: 1.5rem;
    font-weight: 800;
    color: #FCCF3E;
}
.divider{
  width:160px;
  display:inline-block;
}
button:hover{
  color: #F55F20;
  */font-size: 1.75rem;*/
  font-weight: 1000;
  transform: rotate(-5deg);
}

.Generator-Banner {
  margin: 2rem 0 1rem;

  justify-content: space-between;
  background: #FA8223;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  font-family: Verdana;
  font-size: 4rem;
  user-select: none;
  text-align: center;
}

H1 {
  color: #F55F20;
  font-family: Verdana;
  font-size: 1rem;
}
.submit {
  position: relative;
  background: none;
  border: none;
  height: 2rem;
  width: max-content;
  cursor: pointer;
  font-family: Verdana;
  font-size: 1.5rem;
  font-weight: 800;
  color: #F55F20;
}
.Generator-Result {
  margin-top:170px;
  text-align: center;
  font-weight: 800;
  color: #ffa500;
  font-size: 6rem;
  font-family: Verdana;
}
.user-prompt-form {
  background: #FFDF77;
  padding: 1rem;
  width: stretch;
  height: auto;
}
.submit-image-form {
  background: #FFDF77;
  padding: 1rem;
  width: stretch;
  height: auto;
}
.input-text{
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: Verdana;
  margin: 3px;
}
button:focus {outline:0;}

.Footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  width: stretch;
  justify-content: space-between;
  padding: 0 1rem;
  background: #fff;
}
.image-collection {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.image-card {
  text-align: center;
   border: grey solid 1px;
   padding: 1rem;
   width: 23rem;
   height: 22rem;
   display: inline-grid;
   margin: 2rem 5rem;
   position: relative;
 }
.image-avatar {
  justify-self: center;
 height: 12rem;
 width: auto;
}

.close-images {
  background: none;
  position: relative;
  border: none;
  margin: 10;
  padding: 10;
  margin-top: 30px;
  font-family: Verdana;
  font-size: 2rem;
  font-weight: 800;
  color: #C80004;
}
