.Generator {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

button {
    background: none;
    border: none;
    margin: 10;
    padding: 10;
    margin-top: 30px;
    font-family: Verdana;
    font-size: 1.5rem;
    font-weight: 800;
    color: #FCCF3E;
}
.divider{
  width:160px;
  display:inline-block;
}
button:hover{
  color: #F55F20;
  */font-size: 1.75rem;*/
  font-weight: 1000;
  transform: rotate(-5deg);
}

.Generator-Banner {
  margin: 2rem 0 1rem;

  justify-content: space-between;
  background: #ffa500;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  font-family: Verdana;
  font-size: 4rem;
  user-select: none;
  text-align: center;
}

H1 {
  color: #F55F20;
  font-family: Verdana;
  font-size: 1rem;
}
.submit {
  position: relative;
  background: none;
  border: none;
  height: 2rem;
  width: max-content;
  cursor: pointer;
  font-family: Verdana;
  font-size: 1.5rem;
  font-weight: 800;
  color: #F55F20;
}
.Generator-Result {
  margin-top:170px;
  text-align: center;
  font-weight: 800;
  color: #ffa500;
  font-size: 6rem;
  font-family: Verdana;
}
.user-prompt-form {
  background: #FFDF77;
  padding: 1rem;
  width: stretch;
  height: auto;
}
.input-text{
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: Verdana;
  margin: 3px;
}
button:focus {outline:0;}

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  background: #fff;
    transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 1s;
}
